<app-add-edit-aut *ngIf="VisibleAddEditAut" [author]=author (formClosed)="hideFormEdit()"></app-add-edit-aut>

<button type="button" class="btn btn-link float-left" (click)="visibleFormEdit()">Добавить автора</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Авторы</th>
            <th>Книг в базе</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let author of authors">
            <tr>
                <td>
                    {{author.lastName}} {{author.firstName}} {{author.middleName}}
                </td>
                <td>
                    {{author.books.length}}
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" (click)="editAuthor(author.id)">Редактировать</button>
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" (click)="openModal(template)">Удалить</button>
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" (click)="openModalDetails(template_, author.books)">Детали</button>
                </td>
            </tr>
            <ng-template #template>
                <div class="modal-body text-center">
                    <p>Вы действительно хотите удалить автора?</p>
                    <button type="button" class="btn btn-default" (click)="deleteAuthor(author.id)">Да</button>
                    <button type="button" class="btn btn-primary" (click)="cancel()">Нет</button>
                </div>
            </ng-template>

            <ng-template #template_>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Информация</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{author.lastName}} {{author.firstName}} {{author.middleName}}</p>
                    <p>{{author.birthday}}</p>
                    
                    <ul>
                        <ng-container *ngFor="let book of books">
                            <li>{{book.name}}</li>
                        </ng-container>
                    </ul>
                </div>
            </ng-template>

        </ng-container>
        
    </tbody>
</table>