<app-add-edit-gen *ngIf="VisibleAddEditGen" [genre]=genre (formClosed)="hideFormEdit()"></app-add-edit-gen>
<button type="button" class="btn btn-link float-left" (click)="visibleFormEdit()">Добавить жанр</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Жанры</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let genre of genres">
            <tr>
                <td>
                    {{genre.name}}
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" (click)="editGenre(genre.id)">Редактировать</button>
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" (click)="deleteGenre(genre.id)">Удалить</button>
                </td>
            </tr>

        </ng-container>

    </tbody>
</table>